
@{
    ViewBag.Title = "NganTruyCap";
    Layout = "~/Views/Layout/_HomeLayout.cshtml";
}

<h2>Bạn không có quyền truy cập trang này,xin vui lòng đăng nhập và thử lại
    @Html.ActionLink("Quay Lại","Index","Home",null,new {@class="btn btn-danger" }) </h2>

